@import url(fonts.css);
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cormorant-Regular", serif;
  color: #211e19;
  color: #000;
  font-size: 20px;
}

a {
  cursor: pointer;
}

.wrapper {
  margin-left: 50px;
  margin-right: 50px;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 1.2em;
}

img {
  width: 100%;
}

.section {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 600;
}

.underline {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.logo {
  color: #c7c2bc;
  display: inline-block;
}
.logo__heading {
  font-family: "Antic Didone", serif;
  letter-spacing: 3px;
  font-weight: 200;
}
.logo__ticker {
  font-family: "Aesthetic-White", serif;
  font-size: 2em;
  float: right;
}

.section-heading {
  font-family: "Cormorant-Light", serif;
  text-transform: uppercase;
  text-align: left;
}

.about {
  background-color: #c7c2bc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__heading {
  margin-top: 10px;
}
.about__text {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.about__sign {
  font-family: "Aesthetic-White", serif;
  font-size: 2em;
  display: block;
  margin-top: 140px;
}

.news__heading {
  display: block;
}
.news__block {
  margin-top: 23px;
}
.news__block img {
  width: 80%;
  height: 80%;
}

.news__block-description {
  display: none;
  text-align: center;
  margin: auto;
  width: 100%;
  background-color: rgba(16, 11, 1, 0.8);
  height: 100%;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}
.news__block-description span {
  top: 50%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 1.2em;
  padding: 0 10px;
  line-height: 18px;
  text-align: center;
  margin-top: 0.2em;
}

.maps {
  margin-top: 10%;
  margin-bottom: 5%;
}

.map-block__image {
  background-color: #c7c2bc;
  margin-bottom: 10px;
}
.map-block__image img {
  padding: 10px 10px 5px 10px;
}

.footer-container {
  display: block;
  text-align: center;
  background-color: #c7c2bc;
  color: #000;
  font-size: 1.1em;
  margin-bottom: 20px;
  padding-top: 10px;
}
.footer-container a {
  text-decoration: none;
  color: #000;
}
.footer-container span {
  display: block;
  margin-bottom: 24px;
}
.footer-container__social-media span {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: underline;
}

.header-second {
  padding: 30px 0;
}

.logo-second a {
  text-decoration: none;
  color: #000;
}
.logo-second span {
  display: block;
}

.archgako-second {
  font-family: "Antic Didone", serif;
  font-size: 46px;
  font-weight: 400;
}

.arch-n-design-second {
  font-family: "Aesthetic-White", serif;
  float: right;
}

.nav-second {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-second li {
  margin-right: 30px;
  padding: 7px 15px;
}
.nav-second li.active {
  background: #c7c2bc;
  background: rgba(199, 194, 188, 0.8);
  border-radius: 10px;
}
.nav-second li:hover {
  background: #c7c2bc;
  background: rgba(199, 194, 188, 0.4);
  border-radius: 10px;
}
.nav-second a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.wallpaper {
  width: 100%;
}

.project-info {
  min-height: 450px;
  margin-top: 30px;
  margin-bottom: 5%;
}

.project-title, .project-year, .project-location, .descr, .project-desctiprion {
  text-align: right;
}

.project-title, .project-year, .project-location, .descr {
  display: block;
}

.project-title {
  text-transform: uppercase;
}

.project-desctiprion {
  margin-left: 30px;
}

.project-scheme {
  max-height: 600px;
}
.project-scheme img {
  width: auto;
}

.service-block {
  background-color: #c7c2bc;
  margin-bottom: 40px;
  padding: 20px 0;
}
.service-block__title h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
}
.service-block__title span {
  display: block;
  text-align: center;
  margin-left: 10%;
  font-size: 1.2rem;
}
.service-block__title_white {
  color: #ffffff;
}
.service-block__smalltext span {
  display: block;
}
.service-block__smalltext_dark {
  text-align: left;
}
.service-block__smalltext_white {
  color: #ffffff;
  margin-left: 15%;
  text-align: left;
}
.service-block__buttonmail {
  display: inline-block;
  margin-left: 45%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../img/services/mail-icon.png");
  width: 60px;
  height: 50px;
}
.service-block__bigtext span {
  display: block;
  text-align: center;
}
.service-block__bigtext_uppercase {
  text-transform: uppercase;
  font-size: 1.1rem;
}
.service-block__bigtext_white {
  color: #ffffff;
  margin-left: 15%;
  font-size: 1.2rem;
}

.bigtext__component {
  margin-top: 1.3rem;
}
.bigtext__component:first-child {
  margin-top: 1rem;
}

@media (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .service-block__title h3 {
    font-size: 1.5rem;
  }
  .service-block__title span {
    font-size: 1.6rem;
  }
  .service-block__bigtext_uppercase {
    font-size: 1.4rem;
  }
  .service-block__bigtext_white {
    font-size: 1.6rem;
  }
}
